<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 data-bind="text: homeModel.welcomeTitle"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4 text-center">
            <h4>Books</h4>
            <p class="text-primary">If you want check list of books click books</p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Contact</h4>
            <p class="text-primary">To contact with us click on contact</p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>